<style>
    div#div_navigate_post{ display:none; }
</style>
        <!-- container_top -->
<div id="div_img_main2"  class="cover" style="" valign="bottom">
    <div id="div_img_layer">
        <h1>Software Library <br />
            Harmoware
        </h1>
    </div>
</div>
<div class="container" id="id_main_conte">

<div class="row conte" id="id_row_service" style="margin-top:10px;">
    <div class="col-sm-12" style="text-align:center;">
    <h2 class="h4_td_title">Library</h2>
    <hr class="hr_ex1"/>
    </div>
</div>
<div class="row conte" style="">
    <div class="col-sm-4" style="text-align:center ;">
     <img class="img_kao" src="<%- config.root %>images/rep1.png" style="margin : 10px;">
    </div>
    <div class="col-sm-8">
    <h3>Harmoware-VIS</h3>
    <p>
        <br />
        <a href="/2019/01/24/Harmoware-VIS/" class="btn btn-default"> more </a>
    </p>
    </div>
</div>
<div class="row conte" style="">
    <div class="col-sm-4" style="text-align:center ;">
     <img class="img_kao" src="<%- config.root %>images/rep1.png" style="margin : 10px;">
    </div>
    <div class="col-sm-8">
    <h3>Harmoware-HMI</h3>
    <p>
        <br />
        <a href="/2019/01/24/Harmoware-HMI/" class="btn btn-default"> more </a>
    </p>
    </div>
</div>
<div class="row conte" style="">
    <div class="col-sm-4" style="text-align:center ;">
     <img class="img_kao" src="<%- config.root %>images/rep1.png" style="margin : 10px;">
    </div>
    <div class="col-sm-8">
    <h3>Harmoware-BIO</h3>
    <p>
        <br />
        <a href="/2019/01/24/Harmoware-BIO/" class="btn btn-default"> more </a><br />
        <br />   
    </p>
    </div>
</div>

<div class="row conte" style="margin-top:10px;">
    <div class="col-sm-12">
      <div id="div_news">
      <h2 class="h4_td_title" >New post</h2>
      <%- partial('_partial/archive', {pagination: 2, index: true}) %>
      </div>
    </div>
</div>

</div>

